<!DOCTYPE html>
<html lang="en">

<head>
  <title>News Bucket</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
  {{!--google fonts--}}
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        {{!--<a class="navbar-brand" href="#"><img id="bucket-img" alt="Brand" src="/assets/images/news-bucket.png"></a>--}}
      </div>
      <ul class="nav nav-pills navbar-nav">
        <li id="nav-home"><a href="/">Home</a></li>
        <li id="nav-saved"><a href="/saved">Saved Articles</a></li>
      </ul>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-center">News Bucket</h1>
    </div>
  </div>
  <div class="container" id="main-content">
    {{{ body }}}
  </div>
  <div class="footer text-center" id="footer">
    <div class="container">
    <p>Created by <a href="http://www.meggers.me">Michael Eggers</a> | <a href="https://github.com/mdeggers84">GitHub Profile</a> | <a href="https://github.com/mdeggers84/news-bucket">GitHub Repo</a>
    </div>
  </div>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>