<div id="navbar">
  <a href="/saved"><button id="saved-btn" class="btn btn-primary">Saved Articles</button></a>
</div>
<div id="news">
  {{#each docArr}}
  <div class="row">
    <div class="col-md-10">
      <ul>
        <li class="title">{{this.title}}</li>
        <li class="link"><a href="{{this.link}}">{{this.link}}</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <button class="save-btn">Save</button>
    </div>
  </div>
  {{/each}}
</div>