body {
  font-family: 'Press Start 2P', cursive;
}

a {
  font-size: .75em;
}

textarea {
  width: 100%;
}

.prev-comments {
  padding: 5px;
}

.navbar-brand {
  padding: 5px;
}

#bucket-img {
  height: 100%;
  width: auto;
}

#navbar {
  margin-bottom: 0px;
}
.jumbotron {
  margin-top: 0px;
}